---
interface Props {
  title?: string;
  description: string;
}
import 'tippy.js/dist/tippy.css';
import '@fontsource-variable/figtree';
import '@fontsource-variable/inter';
import figtreeWoff2 from '@fontsource-variable/figtree/files/figtree-latin-wght-normal.woff2?url';
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;

const formattedTitle = `${title ? title + ' | ' : ''}NUS Digital Twin`;
const isDev = import.meta.env.DEV;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" type="image/png" href="/favicon192.png" />
    <link rel="preload" as="font" type="font/woff2" href={interWoff2} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={figtreeWoff2} crossorigin="anonymous" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={formattedTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/favicon192.png" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={formattedTitle} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/favicon192.png" />
    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="4e64fb7a-db4b-49de-9157-953c35bb384d"></script>
    {isDev && <script is:inline>localStorage.setItem('umami.disabled', 1)</script>}
    <title>{formattedTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
