---
interface Props {
  title: string;
}
import 'tippy.js/dist/tippy.css';
import '../styles/styles.scss';
import '@fontsource-variable/figtree';
import '@fontsource-variable/inter';
import figtreeWoff2 from '@fontsource-variable/figtree/files/figtree-latin-wght-normal.woff2?url';
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';

const { title } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const SITE_DESCRIPTION = 'A digital twin of the National University of Singapore campus.';

// Force validation of buildings data
import { getCollection } from 'astro:content';
if (import.meta.env.DEV) {
  getCollection('buildings');
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" type="image/png" href="/favicon192.png" />
    <link rel="preload" as="font" type="font/woff2" href={interWoff2} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={figtreeWoff2} crossorigin="anonymous" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={SITE_DESCRIPTION} />
    <meta property="og:image" content="/favicon192.png" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={SITE_DESCRIPTION} />
    <meta name="twitter:image" content="/favicon192.png" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
